@charset "utf-8";
img {
    width: 30%;
}
body {
}
body h1 {
    background-color: #ED9213;
    font-family: "ＭＳ ゴシック";
}
.highlight {
    color: #F42024;
    text-decoration: underline;
    font-family: "ＭＳ ゴシック";
}
.font {
    font-family: "ＭＳ ゴシック";
    font-size: medium;
}
#one {
	width: 100%;
	height: 100%;
}
#two {
	width: 100%;
	height: 100%;
}